
<button (click)="table.getCheckedRows()">Rows</button>
<button (click)="table?.addData()">Add Data</button>
<button (click)="table?.onMultiRemove()" [disabled]="!table?.isRowSelected">Remove Selected</button>

<mat-form-field >
    <mat-select placeholder="Toggle Columns" [multiple]="true"
             (selectionChange)="table?.toggleColumns($event)"
             [(ngModel)]="table.visibleColumnDefs"
             #select="ngModel"
 >
   <div style="margin: 5px 0;display: flex;justify-content: center">
     <button mat-button color="primary" (click)="table?.showAllColumns()">Show all</button>
     <button mat-button color="warn" (click)="table?.hideAllColumns()">Hide all</button>
   </div>
   <mat-option *ngFor="let col of table?.defaultColumnDefs" [value]="col">{{col.n}}</mat-option>
 </mat-select>
</mat-form-field>


<div class="table-wrapper" >
  <ngx-native-table #table
    [config]="config"
    [editTemplate]="editer"
    [dialogRef]="dialog"
    (actionClick)="onOptClick($event)"
>
</ngx-native-table>
</div>

<ng-template #editer>
   <button [attr.t-btn]="'edit'">Edit</button>
   <button [attr.t-btn]="'remove'">Remove</button>
   <button [attr.t-btn]="'confirm'">Confirm</button>
   <button [attr.t-btn]="'unConfirm'">UnConfirm</button>
  </ng-template>
